<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap"
            rel="stylesheet"
        />
        <title>Natural language processing</title>
    </head>

    <body>

        <header>
            <div class="">
               <img src="./assets/moods.jpg" class="logo" alt="moods">
            </div>
            <div class="nunito">
                navigation
            </div>
        </header>

        <main>
            <section>
                <form class="nunito" onsubmit="return Client.handleSubmit(event)">
                    <label for="feeling">Sentiment Analysis</label>
                    <input id="name" class="nunito" type="text" name="input" value="" placeholder="type URL or text">
                    <input type="submit" class="btn nunito" name="submit" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            <section>

            <section class="nunito">
                <strong>Form Results:</strong>
                <div id="results"></div>
            </section>
        </main>

        <footer  class="footer-container bg-footer nunito">
            <p class="text-base">
                <i>Copyright 2020 - Fourth Project Of My Nanodegree - Udacity</i>
              </p>
        </footer>
        
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>